[Unit]
Description=Shadowsocks proxy 
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=vagrant
ExecStart=/snap/bin/shadowsocks-rust.sslocal -c /home/vagrant/proxy.json

[Install]
WantedBy=multi-user.target